body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f4f4f4;
    }

    .navbar-brand {
      font-weight: bold;
      font-size: 1.6rem;
    }
    .logo-icon {
      font-size: 1.8rem;
    }

.logo-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.logo-text strong {
  color: #FFD700;
}

.nav-link.active {          
  transition: 0.3s ease;  
    color: white !important;    
  border-radius: 6px; 
  border-bottom: 2px solid yellow; 
  cursor: pointer;    
}

.nav-link:hover {
  color: #fff !important;       
  background-color: #8c984c;     
  border-radius: 6px;            
  font-weight: 600;   
}
