.services-section {
  background: #f8fafc;
  padding: 60px 20px;
}

.services-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0px;
  color: #2a5298;
  letter-spacing: 1px;
}

.terms-box {
  background-color: #ffffff;
  padding: 25px;
  border-left: 6px solid #2a5298;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.service-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-pricing {
  list-style-type: none;
  padding-left: 0;
}

.service-pricing li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.service-card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
button{
  background-color: #2a5298;
}
.text-center{
  color: #2a5298;
}
.text-primary{
  color: #2a5298;
}